# Copy this file to .env and adjust values for your machine
DOOM_CONFIG_PATH=./configs/dev.json
DOOM_IWAD_PATH=./freedoom-0.13.0/freedoom-0.13.0/freedoom1.wad
DOOM_MAP=E1M1
DOOM_PLAY=true
DOOM_TOPDOWN=false
DOOM_WIDTH=1280
DOOM_HEIGHT=720
DOOM_ZOOM=1.0
DOOM_TICK_RATE=35
DOOM_RUNTIME_TICKS=0
